/* 
----------------------
WISHLIST PAGE STYLING
----------------------
*/

.wishlistPage {
    background-color: #8198bb;
    min-height: 70vh;
    border-radius: 20px;
    padding: 30px 0;
    margin: 0;
}
.wishlist-heart-icon {
    color: #dc3545 !important;
    margin-bottom: 20px;
}

.stat-item, .text-muted {
    font-family: 'Subtitle', Arial, sans-serif;
}

.wishlist-remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}