{% load static %}
<!-- ----- NAVIGATION BAR ----- -->
    <nav class="navbar navbar-light navbar-expand-lg"> <!-- Sets the navigation bar to be light mode -->
        <div class="container-lg"> <!-- Container allows automatic resizing of the elements -->
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" href="{% url 'products:product_list' %}">
                <img src="{% static 'images/DisneyLogo1.png' %}" alt="Disney Logo" class="navbar-logo">
            </a>
 
            <!-- Hamburger menu on the right -->
            <button class="navbar-toggler ms-auto align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span> <!-- Creates the hamburger icon -->
            </button>

            <!-- The order of the logo and the menu switches whether it is displayed left or right. First element goes left, second goes right. -->
    
            <!-- Collapsible menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex justify-content-between w-100 align-items-center">
                    <!-- Menu items on the left -->
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:product_list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pages:about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pages:contact' %}">Contact Us</a>
                        </li>
                        <!-- Button displayed ONLY for employees and admins (for the dashboard access)-->
                        {% if user.is_authenticated and user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'employee_dash:home' %}">Employee Dashboard </a>
                            </li>    
                        {% endif %}
                    </ul>
                </div>
                <!-- Right: Icons -->
                <div class="d-flex align-items-center">
                    <!-- Profile -->
                    <a href="{% url 'accounts:profile' %}" class="nav-link position-relative">
                        <i class="fas fa-user fa-2xl nav-icon m-2"></i>
                    </a>
                    <!-- Wishlist -->
                    <a href="{% url 'wishlist:wishlist' %}" class="nav-link position-relative ms-3">
                        <i class="fas fa-heart fa-2xl nav-icon m-2"></i>
                    </a>

                    <!-- Shopping Cart -->
                    <a href="{% url 'cart:cart' %}" class="nav-link position-relative ms-3">
                        <i class="fas fa-shopping-cart fa-2xl nav-icon m-2"></i>
                    </a>
                </div>
                    
            </div>
        </div>
    </nav>